<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzWidth]="552" [nzClosable]="false" [nzVisible]="drawerVisible"
    nzTitle="教师详情" (nzOnClose)="closeDrawer()">
    <ng-container *nzDrawerContent>
        <nz-avatar nzText="姜" [nzSize]="64" style="vertical-align: middle; margin-bottom: 16px;"></nz-avatar>
        <p nz-typography>学生名称: 姜凯文</p>
        <p nz-typography>学生学号: 18001010214</p>
        <p nz-typography>电子邮箱: jiangkaiwen18@duni.edu.cn</p>
        <p nz-typography>联系电话: 18935743859</p>
        <p nz-typography>入学年份: 2018</p>
        <p nz-typography>所属专业: 计算机科学与技术</p>
    </ng-container>
</nz-drawer>