<nz-layout>
    <nz-content>
        <form nz-form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="username" placeholder="用户名" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" placeholder="密码" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <button nz-button nzType="primary" [disabled]="!loginForm.valid">登录</button>
        </form>
    </nz-content>
</nz-layout>