<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="552" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" [nzFooter]="footerTpl" (nzOnClose)="closeDrawer()">

    <form nz-form *nzDrawerContent>
        <nz-form-item>
            <nz-form-label>所属专业</nz-form-label>
            <nz-form-control>
                <nz-select>
                    <nz-option nzValue="1" nzLabel="计算机科学与技术"></nz-option>
                    <nz-option nzValue="2" nzLabel="软件工程"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>学生名称</nz-form-label>
            <nz-form-control>
                <input nz-input />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>入学年份</nz-form-label>
            <nz-form-control>
                <nz-date-picker nzMode="year" [nzDisabledDate]="disabledYear"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>
    </form>

    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="closeDrawer()">取消</button>
            <button nz-button nzType="primary" (click)="closeDrawer()">保存</button>
        </div>
    </ng-template>
</nz-drawer>